/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/
.mario {
  position: absolute;
  top: -40px;
  left: 0;         
  /*keyframes*/             
  animation-name: drive;
  /*czas poruszania*/
  animation-duration: 3s; 
  /*dodanie zatrzymania w koncowym etapie animacji -pozostaje tam*/
  animation-fill-mode: both; /*backwards,forward,both*/
  /*dodanie opoünienia*/
  animation-delay: 2s; 
  /*iteracje*/
  animation-iteration-count: infinite;  
  /**/
  animation-timing-function: cubic-bezier(.4,.84,.57,.18);
  /*linear,
  easy-in,easy-out,easy-in-out, wolniej na poczatku,...
  cubic-bezier(.42,0,.58,1) funckja beziera
  http://cubic-bezier.com
  */
  
}

.luigi {
  position: absolute;
  top: 40px;
  left: 0;         
  /*keyframes*/             
  animation-name: drive;
  /*czas poruszania*/
  animation-duration: 5s; 
  /*dodanie zatrzymania w koncowym etapie animacji -pozostaje tam*/
  animation-fill-mode: both; /*backwards,forward,both*/
  /*dodanie opoünienia*/
  animation-delay: 1s; 
  /*iteracje*/
  animation-iteration-count: infinite;  
    /*kierunek*/
  animation-direction: alternate-reverse; /*normal,reverse,alternate,alternate-reverse*/
}
/*// KEYFRAMES //*/
@keyframes drive {
  from{
    transform: translateX(-200px)
  }
  to{                       
    transform: translateX(1500px)
  }
}







